<link rel="stylesheet">
<div class = "box-login">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="form-group" id = "usuario">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="form-group" id ="senha">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
        <input type="hidden" name="next" value="{{ next }}">

    </form>
</div>